* {
  margin: 0;
  padding: 0;
}

input,
button {
  display: block;
}
body {
  background-image: url(pexels-brett-sayles-912364.jpg);
  background-size: cover;
}

input {
  width: 30%;
  margin: auto;
  margin-top: 1rem;
  height: 2rem;
  border-radius: 50px;
  outline: none;
  border: none;
  text-align: center;
}

button {
  width: 100px;
  margin: auto;
  margin-top: 1rem;
  padding: 4px 8px;
}
